<!DOCTYPE html>
<html lang="<?= user.locale.as_str() ?>">
<head>
    <? include!("headers.html"); ?>
</head>
<body>
<? rust_i18n::set_locale(user.locale.as_str()); ?>
<?= t!("messages.hello", username=user.name, nonce=nonce) ?>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("inline-script-results-container").innerText = '<?= t!("greet.yes") ?>';
    });
</script>
<script nonce="<?= nonce ?>">
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("nonce-results-container").innerText = '<?= t!("greet.yes") ?>';
    });
</script>
<ul>
    <li><?= t!("greet.canInlineRun") ?> <span id="inline-script-results-container"><?= t!("greet.no") ?></span></li>
    <li><?= t!("greet.canNonceRun") ?> <span id="nonce-results-container"><?= t!("greet.no") ?></span></li>
</ul>
<form method="POST" action="/auth/logout">
    <button type="submit"><?= t!("auth.logout") ?></button>
</form>
</body>
</html>