<!DOCTYPE html>
<html lang="en">
<head>
    <? include!("headers.html"); ?>
</head>
<body>
<? if !message.is_empty() { ?>
<blockquote><?= t!(format!("{}{}", "loginForm.messages.", message)) ?></blockquote>
<? } ?>
<form method="POST" action="/auth/login">
    <label for="username"><?= t!("loginForm.username") ?></label>
    <br/>
    <input name="username" type="text"/>
    <br/>
    <label for="password"><?= t!("loginForm.password") ?></label>
    <br/>
    <input name="password" type="password"/>
    <br/>
    <button type="submit"><?= t!("loginForm.submit") ?></button>
</form>
<a href="/auth/signup"><?= t!("loginForm.signUpLink") ?></a>
</body>
</html>
